<%=form_for @ba do |t| %>

<div>
<%= t.label :image %>
<%= t.text_field :image %>
</div>

<div>
<%= t.label :location %>
<%= t.text_field :location %>
</div>

<div>
<%= t.label :beach_permit_parking_spaces %>
<%= t.text_field :unmetered %>
</div>

<div>
<%= t.label :pay_to_park_spaces %>
<%= t.text_field :metered %>
</div>

<div>
<%= t.label :handicap_parking_spaces %>
<%= t.text_field :handicap_parking_spaces %>
</div>

<div>
<%= t.label :shower %>
<%= t.text_field :shower %>
</div>

<div>
<%= t.label :drinking_fountain %>
<%= t.text_field :drinking_fountain %>
</div>

<div>
<%= t.label :number_of_benches%>
<%= t.text_field :bench %>
</div>

<div>
<%= t.label :bike_rack%>
<%= t.text_field :bike_rack %>
</div>

<%= t.submit %>


<% end %>
