<%=form_for @ba do |t| %>

<div>
<%= t.label :image %>
<%= t.text_field :image %>
</div>

<div>
<%= t.label :location %>
<%= t.text_field :location %>
</div>

<div>
<%= t.label :unmetered_parking_spaces %>
<%= t.text_field :unmetered %>
</div>

<div>
<%= t.label :metered_parking_spaces %>
<%= t.text_field :metered %>
</div>

<div>
<%= t.label :shower %>
<%= t.text_field :shower %>
</div>

<div>
<%= t.label :number_of_benches%>
<%= t.text_field :bench_number %>
</div>

<%= t.submit %>


<% end %>
