<h1>Listing Beach Accesses</h1>
  <% @beach_accesses.each do |beach_access| %>

<div class="row">
    <div class="col-md-4 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/700x400" alt="">
        </a>
        <h3>
            <p><%= beach_access.location%></p>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
    </div>
  


<% end %>
<!-- /.row -->


<!-- <p id="notice"><%= notice %></p>

<h1>Listing Beach Accesses</h1>
  <% @beach_accesses.each do |beach_access| %>

<a href="#">
      <img class="img-responsive" src="http://placehold.it/700x400" alt="">
</a>
  <h3>
      <h3>Location</h3>
  </h3>
  <p><%= beach_access.location%></p>
</div>

<div>
  <h3>Unmetered</h3>
  <p><%= beach_access.unmetered%></p>
</div>

<div>
  <h3>Metered</h3>
  <p><%= beach_access.metered%></p>
</div>

<div>
  <h3>Shower</h3>
  <p><%= beach_access.shower%></p>
</div>

<div>
  <h3>Bench</h3>
  <p><%= beach_access.bench%></p>
</div>

<div>
  <h3>Bench Number</h3>
  <p><%= beach_access.bench_number%></p>
</div>

    <% end %>

    <%=link_to'New', new_beach_access_path %> -->
