<p id="notice"><%= notice %></p>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header-center">All Locations</h1>
                <hr>
            </div>
        </div>


        <!-- /.row -->



        <!-- Projects Row -->
        <div class="row">
          <% @beach_accesses.each do |beach_access| %>

            <div class="col-md-4 portfolio-item">
                <%= image_tag(beach_access.image, class: "img-responsive") %>
                <h3 class ="index_center"><%= link_to((beach_access.location), beach_access) %></h3>
                <p class="index_center">Description</p>
            </div>

          <% end %>

        </div>
        <!-- /.row -->

        <hr>



        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                  <%= will_paginate @beach_accesses, renderer: BootstrapPagination::Rails %>
            </div>

        </div>
        <% if admin_signed_in? %>
        <%= link_to 'New', new_beach_access_path %>
        <% end %>
</div> <!-- div class container END!!! -->


</body>

</html>
